<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Sidebar</li>
      <li><%= link_to "ProfileInformation", "/path1"  %></li>
      <li><%= link_to "Photos", "/path2"  %></li>
      <li><%= link_to "Friends", "/path3"  %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->